[package]
authors = ["Josh Holmer <jholmer.in@gmail.com>"]
description = "An entropy-based password strength estimator, originally for Javascript by Dropbox."
documentation = "https://docs.rs/zxcvbn"
homepage = "https://github.com/shssoichiro/zxcvbn-rs"
license = "MIT"
name = "zxcvbn"
repository = "https://github.com/shssoichiro/zxcvbn-rs"
version = "1.0.2"
edition = "2018"

[badges]
travis-ci = { repository = "shssoichiro/zxcvbn-rs", branch = "master" }
maintenance = { status = "passively-maintained" }

[dependencies]
derive_builder = "0.8.0"
fancy-regex = "0.2.0"
itertools = "0.8.0"
lazy_static = "1.3"
quick-error = "1.2"
regex = "1"
chrono = "0.4.7"

[dependencies.serde]
optional = true
version = "1"

[dependencies.serde_derive]
optional = true
version = "1"

[dev-dependencies]
quickcheck = "0.9.0"
serde_json = "1"
criterion = "0.3"

[features]
default = []
ser = ["serde", "serde_derive"]

[profile.test]
opt-level = 2

[[bench]]
name = "zxcvbn"
harness = false

[[bench]]
name = "zxcvbn_unicode"
harness = false
